
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sam Dawson</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" defer></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.js" defer></script>
   <script src="http://cdn.jsdelivr.net/jquery.localscroll/1.4.0/jquery.localScroll.min.js" defer></script>
   <script src="{% static 'js/scroll.js' %}" type="text/javascript" defer></script>

  <style>
  nav.page-navigation {
  width: 80px;
  background-color: #ebebeb;
  position: fixed;
  top:20%;
  left:0;
}
nav.page-navigation li {
  width: 100%;
}
nav.page-navigation a {
  padding: 0.6em 10%;
  width: 80%;
}

    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    max-width: 100%;
    height: auto;
}
section {
  padding-top: 50px;}

    body {
      background-color: #f2f2f2;
    }
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

  </style>
</head>
<body>


<div id="top" class="">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" >
      <ul class="nav navbar-nav" id="myNavbar">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>

    </div>
  </div>
</nav>
</div>

<nav class="site-navigation page-navigation">

</nav>

<div style="background-image: url(/static/media/code.jpeg)" class="jumbotron">
  <div class="container text-center">

  </div>
</div>

<section id="about" >
    <div class="container ">
      <div class="row">
        <div class="container text-center">
            <h1 style="padding-bottom: 30px">About Me</h1>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <p style="font-size:20px" class=text-muted>
            My name is Sam Dawson.  I am a recent graduate of the Iron Yard, specializing in backend development with Django.  After graduating from Furman University with a BA in Economics, I began researching opportunities to expand my skillset in tech.  Coding is immensely satisfying in allowing me to utilize my problem-solving and analytic skills in a creative and ever-changing environment.
          </p>
        </div>

        </div>

<section id="projects" >

<div class="container text-center">
    <h1 style="padding-bottom: 30px">Projects</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>Invoice Tracker</h1>
      <p style="font-size:20px" class=text-muted>
        - My final project for the Iron Yard.  An app that generates invoices from online credit-card transactions through square, then tracks its state through the production process.
      </p>
      <p style="font-size:20px" class=text-muted>
       <a href="https://github.com/StillsSma/final_project">Link to Code</a>
      </p>
      <p style="font-size:20px" class=text-muted>

        <a href="https://sam-dawson-invoice-tracker.herokuapp.com/">Link to Live Project</a>

      </p>

    </div>
    <div class="col-md-8">
      <img src="/static/media/invoice_tracker_screen_shot.png" alt="My image"/>

    </div>

  </div>

</div>

<div style="padding-top: 50px" class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>Child Care App</h1>
      <p style="font-size:20px" class=text-muted>
        - An app that simulates a day care checkin.  The facility enters new children into the database with an associated pin number, which parents then use to check their children in and out.
      </p>
      <p style="font-size:20px" class=text-muted>
       <a href="https://github.com/StillsSma/childcare_checkin">Link to Code</a>
      </p>

    </div>
    <div class="col-md-8">
      <img src="/static/media/child_care_screen_shot.png" alt="P" />
    </div>

  </div>

</div>

<div style="padding-top: 50px" class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>Inventory Manager</h1>
      <p style="font-size:20px" class=text-muted>
        - A project I worked on for my parent's business.  Essentially a way of keeping track of inventory digitally, and to create reports on removed items.
      </p>
      <p style="font-size:20px" class=text-muted>
       <a href="https://github.com/StillsSma/banking_simulator">Link to Code</a>
      </p>

    </div>
    <div class="col-md-8">
      <img src="/static/media/inventory_screencap.png" alt="P" />
    </div>

  </div>

</div>

</section>


</body>

<footer class="container-fluid">
  <h3 style="position: relative; left: 475px;" >Contact Me</h3>
  <div id="contact" class="container" >

    <div class="col-md-2 col-md-offset-3 ">
      <a href="mailto:samdawson301@live.com" class="btn">
    <span class="fa fa-envelope fa-4x"></span>
  </a>
        </div>

    <div class="col-md-2">

      <a href="https://github.com/StillsSma" class="btn">
      <span class="fa fa-github fa-4x"></span>
        </div>

    <div id=linkedin class="col-md-2">
          <a href="https://www.linkedin.com/in/samuel-dawson-85767412a" class="btn">
        <span class="fa fa-linkedin fa-4x"></span>
      </a>

        </div>


      </div>



</footer>


</html>
